<div class="panel-body panel-body-table">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-actions">
            <thead>
                <tr>
                    <th width="50">#</th>
                    <th>name</th>
                    <th width="100">size</th>
                    <th width="100">actions</th>
                </tr>
            </thead>
            <tbody>
                <tr id="trow_1">
                    <td class="text-center">1</td>
                    <td><strong>John Doe</strong></td>
                    <td>$430.20</td>
                    <td>
                        <button class="btn btn-danger btn-xs" type="button">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
