<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <span class="logo icon-elephant-side-view"></span>
            </div>
            <div class="col-sm-4">
                <form>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
                        <label ngbButtonLabel class="btn-light">
                          <input ngbButton type="file" style="display:none;" (change)="fileUpload($event)">
                          <span class="icon-plus-sign-in-circle"></span>
                          Upload dataset
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
