<div class="timeline-conteiner">
    <div class="timeline-item-content">
        <div class="timeline-heading">
            <img width="30px" src="https://s-media-cache-ak0.pinimg.com/originals/83/00/6e/83006eb424a10b33b2ce3534653ea098.jpg">
            <h3 href="#">Lorem ipsum dolor sit amet</h3>
        </div>
        <div class="timeline-body">
            <img src="http://themifycloud.com/demos/templates/joli/assets/images/gallery/nature-4.jpg" class="img-text" width="150" align="left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus dolor id orci lacinia, eget aliquam velit consequat.</p>
            <p>Vivamus at tincidunt lectus, faucibus condimentum quam. Duis facilisis sem sed eros malesuada, vel dignissim diam ornare. Etiam rhoncus, nibh non auctor mattis, ligula diam mattis dolor, non tincidunt lectus velit nec metus. Phasellus dictum
                justo vitae ornare lobortis. Integer ut lectus vel mauris tempor ultricies eget vitae turpis. Sed eleifend odio quis rutrum volutpat.Vivamus at tincidunt lectus, faucibus condimentum quam. Duis facilisis sem sed eros malesuada, vel dignissim
                diam ornare. Etiam rhoncus, nibh non auctor mattis, ligula diam mattis dolor, non tincidunt lectus velit nec metus. Phasellus dictum justo vitae ornare lobortis. Integer ut lectus vel mauris tempor ultricies eget vitae turpis. Sed eleifend
                odio quis rutrum volutpat.</p>
            <ul class="list-tags">
                <li><a href="#"><span class="fa fa-tag"></span> tempor</a></li>
                <li><a href="#"><span class="fa fa-tag"></span> eros</a></li>
                <li><a href="#"><span class="fa fa-tag"></span> suspendisse</a></li>
                <li><a href="#"><span class="fa fa-tag"></span> dolor</a></li>
            </ul>
        </div>
        <div class="timeline-body comments">
            <div class="comment-item">
                <img width="30px" src="https://s-media-cache-ak0.pinimg.com/originals/83/00/6e/83006eb424a10b33b2ce3534653ea098.jpg">
                <p class="comment-head">
                    <a href="#">Brad Pitt</a> <span class="text-muted">@bradpitt</span>
                </p>
                <p>Awesome, man, that is awesome...</p>
                <small class="text-muted">10h ago</small>
            </div>
        </div>
    </div>
</div>
